body, main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100vw;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#bday-input, #check-btn, p{
    padding: 1em;
    border: 1px solid;
    border-radius: 10px;
    margin: 1em;
    font-weight: bold;
}

button{
    cursor: pointer;
}